<!DOCTYPE html>
<html>
<head>
  <title>BetterTC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a class="brand" href="/">BetterTC</a></li>
					<li><a href="/employees">Employees</a></li>
					<li><a href="/jobs">Jobs</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/events/report">Report</a></li>
				</ul>
			</div>
		</div>
	</div>


<div class="container">
<%= yield %>

</div>

</body>
</html>
